{% extends 'base2.html' %}

{% block title %}CNN Admin - Clientes{% endblock %}

{% block titulo %}
    <h1>UNIMED - INTEGRAÇÕES</h1>
{% endblock %}


{% block main %}
 <!-- Default Card Example -->



    <!-- Begin Page Content -->
        <div class="container-fluid">

		        <div class="card mb-4">

                    ESTOU AQUI </BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR>

                </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}

